.mybutton {
    position: relative;
    padding: .2em .8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #fb6c14;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
    font-weight:900;

   }
   
   .mybutton:hover {
    box-shadow: 0 0 10px #ea481b, 0 0 25px #f58917, 0 0 50px #f28526;
    transition-delay: 0.1s;
   }
   
 
   @media (max-width: 390px) {
    .mybutton{
        position: relative;
        padding: .3em .7em;
        outline: none;
        border: 1px solid #303030;
        background: #212121;
        color: #fb6c14;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 17px;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 6px;
        cursor: pointer;
        font-weight:900;
    }

   }