 
.product-div {
    /* height: 100%; */
    margin-bottom: 2.4rem;
    width: 100%;
    display: flex;
    position: relative;
}

.product-big-name {
    font-size: 4rem;
    font-weight: 800;
    color: rgb(240, 109, 15);

}

    .product-left {
        width: 50%;
        height: 100%;
        padding-top: 0rem;
    }

 
.big-img img {
    background: #000;
    width: 75%;
    height: 100%;
    object-fit: cover;
}

.small-imgs {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    /* background: #2d39e5;  */
}

.small-imgs img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    cursor: pointer; 
    border-radius: 10px;
    
}

.small-imgs img:hover {
    outline: 1px solid rgba(247, 49, 49, 0.3);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
}

.product-right {
    width: 50%;
    height: 100%;
    background-color: #E5E5E5;
    margin-top: 50px;
    border-radius: 20px;
    padding: 4rem 5rem 8rem 5rem;
}

.product-spec {
    font-size: 2.1rem;
    margin-bottom: 5rem;
    line-height: 1.5;
}

.product-quant {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 600;
    align-items: center;
}

.product-btns {
    display: flex;
    border: 1px solid black;
}

.product-btns button {
    font-size: 3rem;
    width: 5.5rem;
    height: 5.5rem;
    color: black;
    cursor: pointer;
    background-color: white;
    border: none;
    transition: all 0.2s;
}

.product-btns button:first-child {
    border-right: 1px solid black;
}

.product-btns button:last-child {
    border-left: 1px solid black;
}

.product-btns button:hover {
    background-color: transparent;
}

.product-btns p {
    outline-offset: -2px;
    width: 6rem;
    height: 5rem;
    text-align: center;
    padding-top: 10px;
}

.atc-buy {
    display: flex;
    gap: 2rem;
}

.atc-buy button {
    width: 50%;
    height: 5.5rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.atc-btn {
    background-color: transparent;
    border: 2px solid black !important;
}

.atc-btn:hover {
    color: white;
    background-color: black;
}

.strike{
    text-decoration: line-through;
    font-size: 30px;
}
.buy-btn {
    background-color: #B6002C;
    color: white;
    border: 2px solid #B6002C !important;
}

.buy-btn:hover {
    background-color: transparent;
    color: #B6002C;
}


.product-price {
    font-size: 40px;
    font-weight: 700;
}
.specifications {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    margin-bottom: 8rem;
}

.spec {
     width: 100%;
    display: flex;
    flex-direction:  row;
     gap: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 1.2rem;
    background: #e9e4e2;
}

.spec-title {
    
    font-size: 2.6rem;
    font-weight: 600;
}

.title-desc {
    color: rgb(234, 72, 27);
    font-size: 2.1rem;
    font-weight: 600;
}

/* notify */


.popup {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease-out;
    z-index: 999;
    opacity: 0;
  }
  
  .popup.show {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
  }
  
.notify {
    color: white;
    background-color: #5ce078;
    padding: 1.2rem 2.2rem;
    z-index: 999999999;
    font-size: 2rem;
    position: absolute;
    transform: translate(-50%);
    top: -100%;
    left: 50%;
}

.notify.slide-in {
    
    animation-duration: 4s;
    animation-delay: -1s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    0% {
        top: -100%;
    }

    40% {
        top: 90px;
    }

    60% {
        top: 90px;
    }

    100% {
        top: -100%;
    }
}

@media (max-width:900px) {
    .product-right {
        padding: 16rem 2rem 8rem 2rem;
    }
}

@media (max-width:850px) {
    .product-div {
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        margin-bottom: 6rem;

    }

    .product-right {
        width: 100%;
        padding: 3rem 2rem 4rem 2rem;
    }

    .product-left {
        width: 100%;
    }

    .product-big-name {
        width: 31rem;
        text-align: center;
    }
}

@media (max-width:570px) {

    .specifications {
        gap: 2rem;
        flex-direction: column;
        margin-bottom: 28rem;
    }
}

@media (max-width:450px) {
    .product-quant {
        flex-direction: column;
        gap: 2rem;
        
    }
    .title-desc {
        color: rgb(51, 57, 226);
        font-size: 2rem;
        font-weight: 500;
    }

    .product-spec {
        margin-bottom: 2rem;
    }

    .atc-buy {
        gap: 2rem;
        width: 100%;
        flex-direction: column;
    }

    .atc-buy button {
        width: 100%;
    }
    .small-imgs img {
        width: 15rem;
        height: 7rem;
        object-fit: cover;
        cursor: pointer; 
        border-radius: 5px;
        
    }
    .small-imgs{
        padding: 2rem 1.4rem;
    }

    .big-img img {
        background: #000;
        width: 55%;
        height: 80%;
        object-fit: cover;
    }
    
.spec-title {
    
    font-size: 2rem;
    font-weight: 600;
}
.product-right {
     
    margin-top: 10px;
    
}

}