

a {
    text-decoration: none;
    color: black;
}

.proud-container {
    padding: 12rem ;
    
}

.proud-h2 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}

.product{
    background: #f8ecec;
    border-radius: 10px;
}

.product:hover {
    outline: 2px solid rgba(249, 140, 38, 0.7);
     --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.product-header{
  padding: 10px;
}


.CardStyles:hover{
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
     transition: all 0.2s ;
}
.ProductCard{
    height: 15rem;
    background: #bd0c0c;
    width: 26rem;
}

.product-header{
     height: 20rem;
    width: 30rem;
    border-radius: 30px;
}

.product-header img {
    width: 100%;
    height: 100%;
    border-radius: 10px;


}
 

.product-details {
    font-size: 1.7rem;
    padding: 1rem;
}

.item-price {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 1.4rem;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

/* categories */

.catego-header {
    padding-top: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4rem;
}



.catego-header a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.filter-btns {
    justify-content: center;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.filter-btns button {
    padding: .6rem 1.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.filter-btns button:hover {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.title-home {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 6rem;
}

.title-home h3 {
    font-size: 2.7rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.title-home a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    text-align: left;
}



/* queries */

@media (max-width:750px) {
    .products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width:600px) {
    .products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width:430px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}